@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400&display=swap");

$color-white: #fcfcff;
$color-offWhite: #f6f7fa;
$color-lightDark: #989b9e;
$color-darkGrey: #595c5f;
$color-dark: #393e41;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  //media quries in series
  @include respond(tab-land) {
    //max-width(1200px)
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-prot) {
    //max-width(950px)
    font-size: 50%; //1rem = 8rem
  }
  @include respond(desk) {
    //min-width(1900px)
    font-size: 75%; //1rem = 12px
  }
  @include respond(bg-desk) {
    //min-width(1600px)
    font-size: 87.5%; //1rem = 14px
  }
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: $color-offWhite;
  font-weight: 400;
  font-size: 1.4rem;
}

.wraper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  @include respond(tab-prot) {
    //700px to 900px max-width(59.375em)
    flex-direction: column;
  }

  &__left {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
  &__right {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
}

.card {
  box-shadow: 0 5px 10px rgba($color-dark, 0.2);
  margin: 1rem 2rem 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: $color-white;
  }
}

.icon {
  cursor: pointer;
  height: 2rem;
  margin-left: 1rem;
}
